<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web Application for Patient </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
  
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(patients)}">
        <h2 style="text-align:center">Search List</h2>
        <table class="table table-striped">
            
              <tr>
                <!--<th>Id</th>-->
                <th>Patient ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Gender</th>
               
            </tr>
          
            <tr th:each="patient : ${patients}">
                <!--<td th:text="${patient.id.toHexString()}"></td>-->
                <td th:text="${patient.alphaid}"></td>
                <td th:text="${patient.fname}"></td>
                <td th:text="${patient.lname}"></td>
                <td th:text="${patient.age}"></td>
                <td th:text="${patient.gender}"></td>
                
            </tr>
        </table>
    </div>
    <div class="links">
        <div class="col-sm-3">
            <a href="/patient/new">New Patient</a>
        </div>
        <div class="col-sm-3">
            <a href="/patient/search">Search Patient</a>
        </div>
        <div class="col-sm-3">
            <a href="/patient/list">Home</a>
        </div>
    </div>
</div>

</body>

</html>